@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
body {
  background-color: #30404D;
}

form input {
  border: 0.3em solid #fff;
  border-radius: 1.5em;
  outline: none;
  font-size: 1.2em;
  color: rgb(116, 116, 116);
  margin: 8px;
}

form .button {
  border-radius: 1.5rem;
  font-size: 1.3rem;
  margin: 6px;
  padding-bottom: 6px;
  outline: none;
}

.navLogo {
  margin-right: 0.8em;
  width: 36px;
  height: 36px;
}

.navHeadin {
  font-size: 1.8em;
  font-weight: bold;
}

.movie-res-home {
  margin-top: 2.5em;
}

.res-no{
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  /* margin: 2.5em; */
}

.movie {
  /* order: 3; */
  margin: 2.5em;
}

.homepageImg {
  display: block;
}