@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
body {
  background-color: #30404D;
}

form input {
  border: 0.3em solid #fff;
  border-radius: 1.5em;
  outline: none;
  font-size: 1.2em;
  color: rgb(116, 116, 116);
  margin: 8px;
}

form .button {
  border-radius: 1.5rem;
  font-size: 1.3rem;
  margin: 6px;
  padding-bottom: 6px;
  outline: none;
}

.navLogo {
  margin-right: 0.8em;
  width: 36px;
  height: 36px;
}

.navHeadin {
  font-size: 1.8em;
  font-weight: bold;
}

.movie-res-home {
  margin-top: 5em;
}

.res-no {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* margin: 2.5em; */
}

.movie {
  /* order: 3; */
  margin: 2.5em;
}

.homepageImg {
  display: block;
}

/* .parent {
  display: flex;
  flex-direction: column;
  margin: 24px;
} */

.parent-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 24px;
  /* justify-content: space-between; */
}

.poster-detail {
  flex: 1;
  /* flex-basis: 20%; */
  margin: 1.3rem auto auto 1.3rem;
}

.details {
  flex: 3;
  display: flex;
  flex-direction: column;
  margin: 1.3rem auto auto 1.3rem;
  text-align: justify;
}

.ratings{
  margin-left: 20px ;
}

/* @media (min-width: 800px) {
  .poster-detail{
    flex-basis: 20%;
  }
  .details {
    flex-basis: 60%;
    margin: 1.3rem auto auto 1.3rem;
  }
} */

@media screen and (min-width: 480px) and (max-width: 800px) {
  .poster-detail{
    flex-basis: 20%;
  }
  .details{
    flex-basis: 40%;
  }
}
